@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  @apply flex flex-col items-center min-h-screen bg-gradient-to-r from-blue-500 to-purple-500 text-white p-16;
}

.main_input {
  @apply border-2 border-gray-500 rounded-lg py-2 px-5 w-full outline-none shadow-lg hover:shadow-xl transition-all text-black font-bold;
}

.main_submit {
  @apply bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 w-full rounded-3xl border-[1px];
}